<div class="finance-calculators-feature">
    <div class="calculators">
        <h1>Finance Calculators</h1>
        <mat-button-toggle-group [formField]="financeCalculatorsService.calculatorTypeForm" (change)="financeCalculatorsService.storeCalculatorType(financeCalculatorsService.calculatorTypeModel())" hideSingleSelectionIndicator="true">
            <mat-button-toggle [value]="calculatorType.Investment">Investment</mat-button-toggle>
            <mat-button-toggle [value]="calculatorType.Mortgage">Mortgage</mat-button-toggle>
            <mat-button-toggle [value]="calculatorType.Tax">Tax</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <!-- Use the [hidden]="" attribute instead of @if, in order to keep paginator and chart lifecycle -->
    <div [hidden]="financeCalculatorsService.calculatorTypeModel() !== calculatorType.Investment" class="investment-calculator">
        <form class="calculator-form">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Starting Amount</mat-label>
                <div matTextPrefix>$</div>
                <input type="number" matInput [formField]="financeCalculatorsService.investmentCalculatorForm.startingAmount" (blur)="autoFillIfBlankInvestment()">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Annual Return Rate</mat-label>
                <div matTextPrefix>&nbsp;&nbsp;</div>
                <input type="number" matInput [formField]="financeCalculatorsService.investmentCalculatorForm.yearlyReturnRate" (blur)="autoFillIfBlankInvestment()">
                <div matTextSuffix>%</div>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Contribution Amount</mat-label>
                <div matTextPrefix>$</div>
                <input type="number" matInput [formField]="financeCalculatorsService.investmentCalculatorForm.contribution" (blur)="autoFillIfBlankInvestment()">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Contribution Frequency</mat-label>
                <div matTextPrefix>&nbsp;&nbsp;</div>
                <mat-select [formField]="financeCalculatorsService.investmentCalculatorForm.contributionFrequency" hideSingleSelectionIndicator="true">
                    @for (timeUnit of timeUnits; track timeUnit) {
                        <mat-option [value]="timeUnit">{{timeUnit === this.timeUnit.Year ? 'Annually' : timeUnit + 'ly'}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Years Invested</mat-label>
                <div matTextPrefix>&nbsp;&nbsp;</div>
                <input type="number" matInput [formField]="financeCalculatorsService.investmentCalculatorForm.yearsInvested" (blur)="autoFillIfBlankInvestment()">
            </mat-form-field>

        </form>

        <div class="details">
            <div class="results">
                <h2>Results</h2>
                <div class="result-stats">
                    <div>Starting Amount: </div>
                    <div class="result-numbers">{{financeCalculatorsService.investmentCalculationResult().startingBalance | currency}}</div>
                    <div>Total Contributions: </div>
                    <div class="result-numbers">{{financeCalculatorsService.investmentCalculationResult().totalContributions | currency}}</div>
                    <div>Total Interest Earned: </div>
                    <div class="result-numbers">{{financeCalculatorsService.investmentCalculationResult().totalInterestEarned | currency}}</div>
                    <div class="top-border"><strong>Total Returns: </strong></div>
                    <div class="result-numbers top-border"><strong>{{financeCalculatorsService.investmentCalculationResult().endBalance | currency}}</strong></div>
                </div>
            </div>
            <div class="pie-chart-wrapper">
                <canvas #investmentPieChart></canvas>
            </div>
        </div>

        <div class="line-chart-wrapper">
            <canvas #investmentLineChart></canvas>
        </div>

        <div>
            <div class="table-container">
                <table mat-table [dataSource]="investmentDataSource()">
                    <!-- intervalNumber Column -->
                    <ng-container [matColumnDef]="financeCalculatorsService.investmentCalculatorModel().contributionFrequency">
                    <th mat-header-cell *matHeaderCellDef class="interval"> {{financeCalculatorsService.investmentCalculatorModel().contributionFrequency}} </th>
                    <td mat-cell *matCellDef="let element" class="interval"> {{element.intervalNumber}} </td>
                    </ng-container>

                    <!-- startingBalance Column -->
                    <ng-container matColumnDef="startingBalance">
                    <th mat-header-cell *matHeaderCellDef> Starting Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.startingBalance | currency}} </td>
                    </ng-container>

                    <!-- contribution Column -->
                    <ng-container matColumnDef="contribution">
                    <th mat-header-cell *matHeaderCellDef> Contribution </th>
                    <td mat-cell *matCellDef="let element"> {{element.contribution | currency}} </td>
                    </ng-container>

                    <!-- interestEarned Column -->
                    <ng-container matColumnDef="interestEarned">
                    <th mat-header-cell *matHeaderCellDef> Interest Earned </th>
                    <td mat-cell *matCellDef="let element"> {{element.interestEarned | currency}} </td>
                    </ng-container>

                    <!-- endingBalance Column -->
                    <ng-container matColumnDef="endingBalance">
                    <th mat-header-cell *matHeaderCellDef> End Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.endingBalance | currency}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="investmentDisplayedColumns(); sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: investmentDisplayedColumns();"></tr>
                </table>
            </div>
            <mat-paginator
                #investmentPaginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>


    <!-- Use the [hidden]="" attribute instead of @if, in order to keep paginator and chart lifecycle -->
    <div [hidden]="financeCalculatorsService.calculatorTypeModel() !== calculatorType.Mortgage" class="mortgage-calculator">
        
        <form class="calculator-form">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Mortgage Amount</mat-label>
                <div matTextPrefix>$</div>
                <input type="number" matInput [formField]="financeCalculatorsService.mortgageCalculatorForm.mortgageAmount" (blur)="autoFillIfBlankMortgage()">
            </mat-form-field>
            
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Interest Rate</mat-label>
                <div matTextPrefix>&nbsp;&nbsp;</div>
                <input type="number" step="0.01" matInput [formField]="financeCalculatorsService.mortgageCalculatorForm.interestRate" (blur)="autoFillIfBlankMortgage()">
                <div matTextSuffix>%</div>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Mortgage Term (Years)</mat-label>
                <div matTextPrefix>&nbsp;&nbsp;</div>
                <input type="number" matInput [formField]="financeCalculatorsService.mortgageCalculatorForm.mortgageTermYears" (blur)="autoFillIfBlankMortgage()">
            </mat-form-field>

        </form>

        <div class="details">
            <div class="results">
                <h2>Results</h2>
                <div class="result-stats">
                    <div><strong>Monthly Payment: </strong></div>
                    <div class="result-numbers"><strong>{{financeCalculatorsService.mortgageCalculationResult().monthlyPayment | currency}}</strong></div>
                </div>

                <br>

                <div class="result-stats">
                    <div>Total Principal Paid: </div>
                    <div class="result-numbers">{{financeCalculatorsService.mortgageCalculationResult().totalPrincipalPaid | currency}}</div>
                    <div>Total Interest Paid: </div>
                    <div class="result-numbers">{{financeCalculatorsService.mortgageCalculationResult().totalInterestPaid | currency}}</div>
                    <div class="top-border"><strong>Total Payment: </strong></div>
                    <div class="result-numbers top-border"><strong>{{financeCalculatorsService.mortgageCalculationResult().totalPayment | currency}}</strong></div>
                </div>
            </div>
            <div class="pie-chart-wrapper">
                <canvas #mortgagePieChart></canvas>
            </div>
        </div>

        <div class="bar-chart-wrapper">
            <canvas #mortgageBarChart></canvas>
        </div>

        <div>
            <div class="table-container">
                <table mat-table [dataSource]="mortgageDataSource()">
                    <!-- intervalNumber Column -->
                    <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef class="interval"> Month </th>
                    <td mat-cell *matCellDef="let element" class="interval"> {{element.month}} </td>
                    </ng-container>

                    <!-- startingBalance Column -->
                    <ng-container matColumnDef="monthlyPayment">
                    <th mat-header-cell *matHeaderCellDef> Monthly Payment </th>
                    <td mat-cell *matCellDef="let element"> {{element.monthlyPayment | currency}} </td>
                    </ng-container>

                    <!-- contribution Column -->
                    <ng-container matColumnDef="interest">
                    <th mat-header-cell *matHeaderCellDef> Interest </th>
                    <td mat-cell *matCellDef="let element"> {{element.interest | currency}} </td>
                    </ng-container>

                    <!-- interestEarned Column -->
                    <ng-container matColumnDef="principal">
                    <th mat-header-cell *matHeaderCellDef> Principal </th>
                    <td mat-cell *matCellDef="let element"> {{element.principal | currency}} </td>
                    </ng-container>

                    <!-- endingBalance Column -->
                    <ng-container matColumnDef="remainingBalance">
                    <th mat-header-cell *matHeaderCellDef> Remaining Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.remainingBalance | currency}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mortgageDisplayedColumns(); sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: mortgageDisplayedColumns();"></tr>
                </table>
            </div>
            <mat-paginator
                #mortgagePaginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>

    <!-- Use the [hidden]="" attribute instead of @if, in order to keep paginator and chart lifecycle -->
    <div [hidden]="financeCalculatorsService.calculatorTypeModel() !== calculatorType.Tax" class="tax-calculator">
        <!-- <div class="placeholder">
            <mat-icon>construction</mat-icon>
            <div>This feature is still under construction!</div>
            
        </div> -->
        <form class="tax-calculator-form" [formRoot]="financeCalculatorsService.taxCalculatorForm" (submit)="financeCalculatorsService.getTaxInfo()">
            <div class="calculator-form">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Taxable Income</mat-label>
                    <div matTextPrefix>$</div>
                    <input type="number" matInput [formField]="financeCalculatorsService.taxCalculatorForm.grossWages" (blur)="autoFillIfBlankTax()">
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Filing Status</mat-label>
                    <div matTextPrefix>&nbsp;&nbsp;</div>
                    <mat-select [formField]="financeCalculatorsService.taxCalculatorForm.filingStatus" hideSingleSelectionIndicator="true">
                        @for (filingStatus of filingStatuses; track filingStatus) {
                            <mat-option [value]="filingStatus">{{filingStatus.slice(0, 1).toUpperCase() + filingStatus.slice(1)}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field form="a" subscriptSizing="dynamic">
                    <mat-label>Work State</mat-label>
                    <div matTextPrefix>&nbsp;&nbsp;</div>
                    <mat-select [formField]="financeCalculatorsService.taxCalculatorForm.workState" hideSingleSelectionIndicator="true">
                        @for (state of states; track state) {
                            <mat-option [value]="state">{{state}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Residence State</mat-label>
                    <div matTextPrefix>&nbsp;&nbsp;</div>
                    <mat-select [formField]="financeCalculatorsService.taxCalculatorForm.residenceState" hideSingleSelectionIndicator="true">
                        @for (state of states; track state) {
                            <mat-option [value]="state">{{state}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="tax-button">
                <button class="reference-element" matButton="filled" type="submit">Submit</button>
                <mat-icon [matMenuTriggerFor]="toolTip" matTooltip="Click Me!" matTooltipTouchGestures="off">warning</mat-icon>
                <mat-menu #toolTip="matMenu">
                    <div mat-menu-item>
                        I only have 1000 API requests a month for fetching tax info. So that means everyone using this site also shares the same 1000 clicks of the Submit button per month.
                    </div>
                </mat-menu>
            </div>
            
        </form>

        @if (financeCalculatorsService.taxRateResult() !== undefined) {
            @let grossWages = financeCalculatorsService.taxRateResult()!.grossWages;
            @let federalIncomeTax = financeCalculatorsService.taxRateResult()!.taxes.find((tax) => tax.tax_type_code === 'FED_INCOME_EE')!;
            @let socialSecurityTax = financeCalculatorsService.taxRateResult()!.taxes.find((tax) => tax.tax_type_code === 'FED_FICA_SS_EE')!;
            @let medicareTax = financeCalculatorsService.taxRateResult()!.taxes.find((tax) => tax.tax_type_code === 'FED_FICA_MED_EE')!;
            @let workStateTax = financeCalculatorsService.getSpecificStateTax(financeCalculatorsService.taxRateResult()!.work_state + '_INCOME_EE');
            @let residenceStateTax = financeCalculatorsService.getSpecificStateTax(financeCalculatorsService.taxRateResult()!.residence_state + '_INCOME_EE');
            @let workState = financeCalculatorsService.taxRateResult()!.work_state;
            @let residenceState = financeCalculatorsService.taxRateResult()!.residence_state;

            <div class="details">
                <div class="results">
                    <h2>Results</h2>
                    <div class="result-stats result-stats-tax">
                        @if (workState !== residenceState) {
                            @let totalTax = (financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).totalActualTax) + (grossWages * socialSecurityTax.rate) + (grossWages * medicareTax.rate) + (financeCalculatorsService.getEstimatedTaxes(grossWages, workStateTax).totalActualTax) + (financeCalculatorsService.getEstimatedTaxes(grossWages, residenceStateTax).totalActualTax);
                            <div><strong>Take Home Pay: </strong></div>
                            <div class="result-numbers"></div>
                            <div class="result-numbers"><strong>{{grossWages - totalTax | currency}}</strong></div>
                        }
                        @else {
                            @let totalTax = (financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).totalActualTax) + (grossWages * socialSecurityTax.rate) + (grossWages * medicareTax.rate) + (financeCalculatorsService.getEstimatedTaxes(grossWages, workStateTax).totalActualTax);
                            <div><strong>Take Home Pay: </strong></div>
                            <div class="result-numbers"></div>
                            <div class="result-numbers"><strong>{{grossWages - totalTax | currency}}</strong></div>
                        }
                    </div>

                    <br>
                    <div class="result-stats result-stats-tax">
                        <div>{{federalIncomeTax.name}}</div>
                        <div class="result-numbers">{{federalIncomeTax.brackets.find((bracket) => bracket.from < grossWages && (grossWages <= bracket.to || bracket.to === null))!.rate | percent}}</div>
                        <div class="result-numbers">{{financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).totalActualTax | currency}}</div>


                        <div>Social Security</div>
                        <div class="result-numbers">{{socialSecurityTax.rate | percent}}</div>
                        <div class="result-numbers">{{grossWages * socialSecurityTax.rate | currency}}</div>

                        <div>Medicare</div>
                        <div class="result-numbers">{{medicareTax.rate | percent}}</div>
                        <div class="result-numbers">{{grossWages * medicareTax.rate | currency}}</div>


                        <div class="state-tax">{{workStateTax.name}} {{workStateTax.rate_structure === 'flat_percent' ? '(Flat)' : ''}}</div>
                        @if (workStateTax.rate_structure === 'flat_percent') {
                            <div class="result-numbers state-tax">{{workStateTax.rate | percent}}</div>
                        }
                        @else {
                            <div class="result-numbers state-tax">{{workStateTax.brackets.find((bracket) => bracket.from < grossWages && (grossWages <= bracket.to || bracket.to === null))!.rate | percent}}</div>
                        }
                        <div class="result-numbers state-tax">{{financeCalculatorsService.getEstimatedTaxes(grossWages, workStateTax).totalActualTax | currency}}</div>
                        
                        @if (workState !== residenceState) {
                            <div>{{residenceStateTax.name}} {{residenceStateTax.rate_structure === 'flat_percent' ? '(Flat)' : ''}}</div>
                            @if (residenceStateTax.rate_structure === 'flat_percent') {
                                <div class="result-numbers">{{residenceStateTax.rate | percent}}</div>
                            }
                            @else {
                                <div class="result-numbers">{{residenceStateTax.brackets.find((bracket) => bracket.from < grossWages && (grossWages <= bracket.to || bracket.to === null))!.rate | percent}}</div>
                            }
                            <div class="result-numbers">{{financeCalculatorsService.getEstimatedTaxes(grossWages, residenceStateTax).totalActualTax | currency}}</div>

                            @let totalTax = (financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).totalActualTax) + (grossWages * socialSecurityTax.rate) + (grossWages * medicareTax.rate) + (financeCalculatorsService.getEstimatedTaxes(grossWages, workStateTax).totalActualTax) + (financeCalculatorsService.getEstimatedTaxes(grossWages, residenceStateTax).totalActualTax);
                            <div class="top-border"><strong>Total Tax: </strong></div>
                            <div class="result-numbers top-border"></div>
                            <div class="result-numbers top-border"><strong>{{totalTax | currency}}</strong></div>
                        }
                        @else {
                            @let totalTax = (financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).totalActualTax) + (grossWages * socialSecurityTax.rate) + (grossWages * medicareTax.rate) + (financeCalculatorsService.getEstimatedTaxes(grossWages, workStateTax).totalActualTax);
                            <div class="top-border"><strong>Total Tax: </strong></div>
                            <div class="result-numbers top-border"></div>
                            <div class="result-numbers top-border"><strong>{{totalTax | currency}}</strong></div>
                        }

                    </div>
                </div>
                <div class="pie-chart-wrapper">
                    <canvas #investmentPieChart></canvas>
                </div>
            </div>

            <!-- <div>
                @for (bracket of financeCalculatorsService.getEstimatedTaxes(grossWages, federalIncomeTax).brackets; track bracket.rate) {
                    <div>from: {{bracket.from}} | to: {{bracket.to}} | rate: {{bracket.rate}} | tax: {{bracket.actualTax}}</div>
                }
            </div> -->

            
        }
        
    </div>
        
    

</div>