.finance-calculators-feature {
    display: grid;
    color: var(--mat-sys-on-secondary-container);
    padding: 0.5em;
    gap: 1em;
}

.calculators {
    display: grid;
    h1 {
        justify-self: center;
        text-align: center;
    }
    mat-button-toggle-group {
        width: 100%;
        mat-button-toggle {
            width: 50%;
        }
    }
}

.investment-calculator {
    display: grid;
    gap: 2em;
}

.investment-calculator-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    justify-self: center;

    @media (min-width: 768px) {
        width: 70vw;
    }

    @media (min-width: 1400px) {
        width: 50vw;
    }

}

.details {
    display: grid;
    gap: 2em;

    .results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        white-space: nowrap;

        .result-numbers {
            text-align: right;
        }

        .top-border {
            border-top: 1px solid;
        }
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        h2, .results {
            width: 80%;
            justify-self: center;
        }
    }


}



.table-container {
    overflow: auto;
    max-height: 80vh;
    contain: inline-size;
}

.mat-mdc-header-row {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.mat-mdc-row:nth-child(even) {
  background-color: var(--mat-sys-inverse-primary);
}

.interval {
    text-align: center;
}

.mat-column-startingBalance,
.mat-column-contribution,
.mat-column-interestEarned,
.mat-column-endingBalance {
    text-align: right;
}

.mat-mdc-header-cell, 
.mat-mdc-cell {
  padding: 0 1em;
}