.movies-and-shows {

}

.media-cards {
    display: grid;
    gap: 1em;
    padding: 1em;

    @media (orientation: landscape) {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        
    }
    @media (orientation: portrait) {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}
img {
        height: 100%;
        object-fit: cover;
    }

mat-card {

    
}

mat-card:hover {
        cursor: pointer;
        opacity: 75%;

}

@media (min-width: 769px) {
    mat-card {
        transform: scale(1);
        transition: transform 0.5s ease-out;
    }

    mat-card:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-out;
    }
}


mat-card-header {
    padding: 1em;
}

mat-card-title-group {
    display: block;

}

mat-card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

mat-card-content {
    height: 4lh;

    p {
        // line-height: 1em;
        margin: 0.3em 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }
}

.bottom-sentinel {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}