.movies-and-shows {

}

.media-cards {
    display: grid;
    gap: 1em;
    padding: 1em;

    @media (orientation: landscape) {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        
    }
    @media (orientation: portrait) {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}

img {
    height: 100%;
    object-fit: cover;
}


mat-card {
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

mat-card:hover {
        cursor: pointer;
        opacity: 50%;

        transform: scale(1.05);
        transition: transform 0.3s ease-out;
        // animation: growAndShrink .5s infinite;
}

mat-card-content {
    height: 4lh;


    p {
        line-height: 1em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }
}

.bottom-sentinel {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}