.not-found-feature {
    display: grid;
    line-height: 1.2;
    height: 100%;
    justify-items: center;
}

.not-found-text {
    display: grid;
    font-size: min(12cqw, 12cqh);
    font-family: cursive;
    align-self: end;
    justify-items: center;
}

.not-found-image {
    display: grid;
    max-width: 60vw;
    max-height: 60vh;
}