<div class="not-found-feature">
    <div class="not-found-text">
        <div>Daily Bread</div>
        <div>일용할 양식</div>
    </div>
    <img class="not-found-image" src="/duck_on_bread.png">
    

    <!-- Element that follows the mouse around -->
    <img 
        class="not-found-image follower-element" 
        [style.transform]="'translate3d(' + currentCoords().x + 'px, ' + currentCoords().y + 'px, 0)'"
        src="/duck_on_bread.png"
        >

    <!-- Generates an element that will appear and fade on click -->
    @for (item of elements(); track item.id) {
        <img 
            class="follower-stamp animate-fade" 
            src="/duck_on_bread.png"
            [ngStyle]="{ 'left': item.left, 'top': item.top }">
    }
</div>