<div class="media-player-feature">
    @if(media_type() === mediaTypeEnum.Movie && selectedMovie()) {
        @let movie = selectedMovie()!;
        <div class="media">

            <div class="media-title">
                    <h1>{{ movie.title ? movie.title : movie.original_title }}</h1>
            </div>

            <div class="media-details">

                <div class="media-card">
                    <mat-card matTooltipTouchGestures="off">
                        <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(movie.poster_path)">
                    </mat-card>
                </div>

                <div class="media-metadata">
                    <div class="overview">
                        <div>{{movie.overview}}</div>
                    </div>
                    <div><b>Release: </b>{{movie.release_date | date}}</div>
                    <div><b>Genres: </b>{{moviesAndShowsService.movieGenreNamesStringFromGenreList(movie.genres)}}</div>
                    <div><b>Runtime: </b>{{minutesToHoursAndMinutes(movie.runtime)}}</div>
                </div>
            </div>
        </div>

    }
    @else if (media_type() === mediaTypeEnum.TV && selectedTV() && selectedSeason() && selectedEpisode()) {
        @let tv = selectedTV()!;
        @let season = selectedSeason()!;
        @let episode = selectedEpisode()!;

        <div class="media">

            <div class="media-title">
                <h1>{{ tv.name ? tv.name : tv.original_name }}</h1>
            </div>

            <div class="media-details">

                <div class="media-card">
                    <mat-card matTooltipTouchGestures="off">
                        <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(tv.poster_path)">
                    </mat-card>
                </div>

                <div class="media-metadata">
                    <div class="overview">
                        <div>{{tv.overview}}</div>
                    </div>
                    <div><b>First Air Date: </b>{{tv.first_air_date| date}}</div>
                    <div><b>Genres: </b>{{moviesAndShowsService.tvGenreNamesStringFromGenreList(tv.genres)}}</div>
                    <div><b>Seasons: </b>{{tv.number_of_seasons}}</div>
                </div>
            </div>


            <div class="sub-media-title">
                <h2>Season # {{episode.season_number}}: {{season.name}}</h2>
                <h2>Episode # {{episode.episode_number}}: {{episode.name}}</h2>
            </div>
        </div>
        
    }
    @else {
        <div>Could not find media!</div>

    }

    <!-- if we got metadata from tmdb -->
    @if ((media_type() === mediaTypeEnum.Movie && selectedMovie()) || (media_type() === mediaTypeEnum.TV && selectedTV() && selectedSeason() && selectedEpisode())) {
        @if (isLoading() || safeVidsrcUrl() === undefined) {
            <div class="media-container">
                <img class="no-video blackout" src="/no_video.png">
                <div class="overlay">
                    <mat-spinner ></mat-spinner>
                </div>
            </div>
        }
        @else {
            @if (safeVidsrcUrl() === '') {
                <div class="media-container">
                    <img class="no-video" src="/no_video.png">
                </div>
            }
            @else {
                <iframe class="media-container" [src]="safeVidsrcUrl()" frameborder="0" scrolling="no" allowfullscreen="yes"></iframe>
            }
        }
    }

    
    @if (media_type() === mediaTypeEnum.TV && selectedTV() && selectedSeason() && selectedEpisode()) {
        @let season = selectedSeason()!;
        @let episode = selectedEpisode()!;

        <div><b>Episode Overview: </b>{{episode.overview}}</div>
        <div><b>Episode Runtime: </b>{{minutesToHoursAndMinutes(episode.runtime)}}</div>
        
        <br>
        <br>
        <br>

        <h2>More Details: </h2>

        <div><b>Season #: </b>{{season.season_number}}</div>
        <div><b>Season Name: </b>{{season.name}}</div>
        <div><b>Season Air Date: </b>{{season.air_date | date}}</div>
        <div><b>Season Overview: </b>{{season.overview}}</div>
        <div><b>Episodes: </b>{{season.episodes.length}}</div>

        <br>

        <div><b>Episode #: </b>{{episode.episode_number}}</div>
        <div><b>Episode Name: </b>{{episode.name}}</div>
        <div><b>Episode Air Date: </b>{{episode.air_date}}</div>
        <div><b>Episode Overview: </b>{{episode.overview}}</div>
        <div><b>Episode Runtime: </b>{{minutesToHoursAndMinutes(episode.runtime)}}</div>
        

    }

    
</div>