.media-player-feature {
    display: grid;
    padding: 1em 0 5em 0;
    color: var(--mat-sys-on-secondary-container);
    justify-content: center;
    justify-self: center;
    width: 80%;
    gap: 1em;

    @media (orientation: portrait) {
        width: 90%;
    }
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid var(--mat-sys-inverse-primary);
}




.media {
    display: grid;
    gap: 1em;
    justify-self: center;

    .media-title {
        display: inherit;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .media-details {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        gap: inherit;
        height: max-content;

        .media-card {
            max-width: min(35vh, 35vw);

            mat-card {

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .media-metadata {
            
            .overview {
                padding-bottom: 1em;
            }

        }
    }

    
}

.episode-title-header {
    display: grid;
    justify-content: left;
    width: min(100vh, 100%);

    .media-card {
        align-content: center;
    }

    .media-title {
        text-align: left;

        h2 {
            margin: 0.5em;
        }
    }
}



.media-container {
        justify-self: center;
        max-height: 80vw;
        max-width: 100vh;
        aspect-ratio: 16/9;
        border: 10px solid var(--mat-sys-inverse-primary);



        .no-video {
            display: block;
            max-height: 100%;
            max-width: 100%;
            aspect-ratio: inherit;
        }
        .blackout {
            opacity: 0;
        }


        position: relative;
        display: inline-block;
        .overlay {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            justify-content: center;
            align-items: center;
        }

    }




    .tv-filters {
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
    justify-items: center;
    width: min(100vh, 100%);

    mat-form-field {
        width: 99%;

        mat-option {
            padding: 0;
            border: 2px solid var(--mat-sys-outline-variant);
            
            .season-select-option {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 30% 1fr;
                align-items: center;
                gap: 0.5em;

                .option-image {
                    width: 100%;

                    object-fit: cover;
                }
            }

            .episode-select-option {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 40% 1fr;
                align-items: center;
                gap: 0.5em;

                .option-image {
                    width: 100%;
                    object-fit: cover;
                }
            }

            @media (orientation: portrait) {

                .episode-select-option {
                    padding: 0 .5em;
                    grid-template-columns: none;

                    img {
                        display: none;
                    }
                }
                
            }
        }
    }
}