.media-player-feature {
    display: grid;
    padding: 0 0 5em 0;
    color: var(--mat-sys-on-secondary-container);
    justify-content: center;
    justify-self: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    width: 100%;
}

.media-player-body {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    gap: 1em;
    width: 80%;

    @media (orientation: portrait) {
        width: 90%;
    }
}

.media-player-header {
    display: grid;
    justify-content: center;
    justify-self: center;
    gap: 1em;
    padding: 1em 0;
    background-color: var(--mat-sys-inverse-primary);

    position: fixed;
    width: inherit;
    z-index: 999;

    transition: translate 0.3s ease-in-out;
    translate: 0 0;
}

.media-player-header.scroll-down {
    translate: 0 -100%;
}

.media-player-header.relative {
    position: relative;
}

.media-player-header-buffer {
    position: relative;
    width: inherit;
    justify-self: center
    
    // z-index: 1000;
    // background-color: red;
    // opacity: 80%;
}

.media-player-header-buffer.relative {
    position: absolute;
    width: inherit;
}

.search-bar {
    width: 80vw;
    
    mat-form-field {
        width: inherit;
    }
}

@media (min-width: 768px) {
    .search-bar {
        width: 60vw;
    }
}

@media (min-width: 1400px) {
    .search-bar {
        width: 35vw;
    }
}





.media-player-feature:has(.page-status) {
    padding: 0;
    height: 100%;
    
    .media-player-body {
        display: grid;
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0;

        line-height: 1.2;
        justify-items: center;
        position: relative;
        overflow: hidden;
    
        .page-status {
            justify-content: center;
            justify-items: center;
            align-content: center;
            text-align: center;
        }

        .page-status-text {
            display: grid;
            font-size: min(10cqw, 10cqh);
            // font-family: cursive;
            align-self: end;
            justify-items: center;
            user-select: none;
        }

        img {
            display: grid;

            max-width: 60%;
            max-height: 60%;
            user-select: none;
        }
    }
}


hr {
    width: 100%;
    border: none;
    border-top: 2px solid var(--mat-sys-inverse-primary);
}

h1, h2 {
    line-height: 1.1;
}


.media {
    display: grid;
    gap: 1em;
    justify-self: center;

    .media-title {
        display: inherit;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .media-details {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto 1fr;
        gap: inherit;
        height: max-content;

        .media-card {
            max-width: min(35vh, 35vw);

            mat-card {

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .media-metadata {

            .overview {
                padding-bottom: 1em;
            }

            h2, h3 {
                margin: 0.5em 0;
            }

        }
    }

    
}

.episode-title-header {
    display: grid;
    justify-content: left;
    width: min(100vh, 100%);

    .media-card {
        align-content: center;
    }

    .media-title {
        text-align: left;

        h2, h3 {
            margin: 0.5em 0;
        }
    }
}


.more-info-media {
    display: grid;
    gap: 1em;

    padding: 1em;

    .media-card {
        align-self: center;
    }
}

.more-info-media-card {
    border-radius: var(--mat-sys-corner-medium);

    transform: scale(1);
    transition: transform 0.5s ease-out;

    
}

.more-info-media-card:hover {
    cursor: pointer;
    opacity: 75%;

    transform: scale(1.03);
    transition: transform 0.2s ease-out;
}


.media-container {
        justify-self: center;
        max-height: 80vw;
        max-width: 100vh;
        aspect-ratio: 16/9;
        border: 10px solid var(--mat-sys-inverse-primary);



        .no-video {
            display: block;
            max-height: 100%;
            max-width: 100%;
            aspect-ratio: inherit;
        }
        .blackout {
            opacity: 0;
        }


        position: relative;
        display: inline-block;
        .overlay {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            justify-content: center;
            align-items: center;
        }

    }




.tv-filters {
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
    justify-items: center;
    width: min(100vh, 100%);

    mat-form-field {
        width: 99%;

        mat-option {
            padding: 0;
            border: 1px solid var(--mat-sys-outline-variant);
            
            .season-select-option {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 30% 1fr;
                align-items: center;
                gap: 0.5em;

                .option-image {
                    width: 100%;

                    object-fit: cover;
                }
            }

            .episode-select-option {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 40% 1fr;
                align-items: center;
                gap: 0.5em;

                .option-image {
                    width: 100%;
                    object-fit: cover;
                }
            }

            @media (orientation: portrait) {

                .episode-select-option {
                    padding: 0 .5em;
                    grid-template-columns: none;

                    img {
                        display: none;
                    }
                }
                
            }
        }
    }
}