<div class="media-player-feature">
    @if(media_type() === mediaTypeEnum.Movie && selectedMovie()) {
        @let movie = selectedMovie()!;
        <div class="movie">

            <div class="movie-title">
                    <h1>{{ movie.title ? movie.title : movie.original_title }}</h1>
            </div>

            <div class="movie-details">

                <div class="media-card">
                    <mat-card matTooltipTouchGestures="off">
                        <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(movie.poster_path)">
                    </mat-card>
                </div>

                <div class="movie-metadata">
                    <div class="overview">
                        <div>{{movie.overview}}</div>
                    </div>
                    <div><b>Release:</b> {{movie.release_date | date}}</div>
                    <div><b>Genres:</b> {{moviesAndShowsService.movieGenreNamesStringFromGenreList(movie.genres)}}</div>
                    <div><b>Runtime:</b> {{minutesToHoursAndMinutes(movie.runtime)}}</div>
                </div>
            </div>
        </div>

    }
    @else if (media_type() === mediaTypeEnum.TV && selectedTV() && selectedSeason() && selectedEpisode()) {
        @let tv = selectedTV()!;
        @let season = selectedSeason()!;
        @let episode = selectedEpisode()!;

        <div>{{tv.name}}</div>
        <div>{{tv.overview}}</div>
        <div>Status: {{tv.status}}</div>
        <div>Released: {{tv.first_air_date | date}}</div>
        <div>{{moviesAndShowsService.TVGenreNamesStringFromGenreList(tv.genres)}}</div>
        @for (s of tv.seasons; track s.id) {
            <div>{{s.name}} | season number: {{s.season_number}} |episodes: {{s.episode_count}}</div>

        }

        <br>


        <div>{{season.name}} | season number: {{season.season_number}}</div>
        <div>Air Date: {{season.air_date | date}}</div>
        <div>{{season.overview}}</div>
        @for (e of season.episodes; track e.id) {
            <div>{{e.name}} | episode number: {{e.episode_number}}</div>
        }

        <br>

        <div>{{episode.name}} | episode number: {{episode.episode_number}}</div>
        <div>Air Date: {{episode.air_date}}</div>
        <div>{{episode.overview}}</div>
        <div>Runtime: {{minutesToHoursAndMinutes(episode.runtime)}}</div>

    }
    @else {
        @if (hasAttemptedGettingVidsrcMedia()) {
            <div>Could not find media!</div>
        }

    }

    <!-- if we got metadata from tmdb -->
    @if ((media_type() === mediaTypeEnum.Movie && selectedMovie()) || (media_type() === mediaTypeEnum.TV && selectedTV() && selectedSeason() && selectedEpisode())) {
        
        <!-- media player -->
        @if (hasAttemptedGettingVidsrcMedia() && hasGottenVidsrcMedia()) {
            @if (safeVidsrcUrl() !== '') {
                <iframe class="media-container" [src]="safeVidsrcUrl()" frameborder="0" scrolling="no" allowfullscreen="yes"></iframe>
            }
            @else {
                <div class="media-container">
                    <img class="no-video" src="/no_video.png">
                </div>
            }
        }
        @else if (hasAttemptedGettingVidsrcMedia() && !hasGottenVidsrcMedia()) {
            <div class="media-container">
                <img class="no-video" src="/no_video.png">
            </div>
        }
        @else {
            <div class="media-container">
                <img class="no-video blackout" src="/no_video.png">
                <div class="overlay">
                    <mat-spinner ></mat-spinner>
                </div>
            </div>
        }
    }

    
</div>