.media-player-feature {
    display: grid;
    padding:  0 1em;
    color: var(--mat-sys-on-secondary-container);
    justify-content: center;
    justify-self: center;
    width: 80%;

    @media (orientation: portrait) {
        width: 90%;
    }
}

.movie {
    display: grid;
    gap: 1em;
    justify-self: center;

    .movie-title {
        display: inherit;
        justify-self: center;
        align-self: center;
    }

    .movie-details {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        gap: inherit;
        height: max-content;

        .media-card {
            max-width: min(35vh, 35vw);

            mat-card {

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .movie-metadata {
            
            .overview {
                padding-bottom: 1em;
            }

        }
    }


    

    
}

.media-container {
        justify-self: center;
        max-height: 80vw;
        max-width: 100vh;
        aspect-ratio: 16/9;
        border: 10px solid var(--mat-sys-inverse-primary);
        margin: 5em 0;


        .no-video {
            display: block;
            max-height: 100%;
            max-width: 100%;
            aspect-ratio: inherit;
        }
        .blackout {
            opacity: 0;
        }


        position: relative;
        display: inline-block;
        .overlay {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            justify-content: center;
            align-items: center;
        }

    }