<div class="media-player-feature">
    @if(moviesAndShowsService.tmdbConfiguration()) {
        @if(media_type() === mediaTypeEnum.Movie && selectedMovie()) {
            @let movie = selectedMovie()!;
            <div class="media">

                <div class="media-title">
                        <h1>{{ movie.title ? movie.title : movie.original_title }}</h1>
                </div>

                <div class="media-details">

                    <div class="media-card">
                        <mat-card matTooltipTouchGestures="off">
                            <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(movie.poster_path)">
                        </mat-card>
                    </div>

                    <div class="media-metadata">
                        <div class="overview">
                            <div>{{movie.overview}}</div>
                        </div>
                        <div><b>Release Date: </b>{{movie.release_date | date}}</div>
                        <div><b>Genres: </b>{{moviesAndShowsService.movieGenreNamesStringFromGenreList(movie.genres)}}</div>
                        <div><b>Runtime: </b>{{minutesToHoursAndMinutes(movie.runtime)}}</div>
                    </div>
                </div>
            </div>

             <hr>

        }
        @else if (media_type() === mediaTypeEnum.TV && selectedTVDetail() && selectedSeasonDetail() && selectedEpisodeDetail()) {
            @let tv = selectedTVDetail()!;

            <div class="media">

                <div class="media-title">
                    <h1>{{ tv.name ? tv.name : tv.original_name }}</h1>
                </div>

                <div class="media-details">

                    <div class="media-card">
                        <mat-card matTooltipTouchGestures="off">
                            <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(tv.poster_path)">
                        </mat-card>
                    </div>

                    <div class="media-metadata">
                        <div class="overview">
                            <div>{{tv.overview}}</div>
                        </div>
                        <div><b>First Air Date: </b>{{tv.first_air_date| date}}</div>
                        <div><b>Genres: </b>{{moviesAndShowsService.tvGenreNamesStringFromGenreList(tv.genres)}}</div>
                        <div><b>Seasons: </b>{{tv.number_of_seasons}}</div>
                    </div>
                </div>

            </div>
            
            <hr>
        }
        @else {
            <div class>Could not find media!</div>
        }


        @if (media_type() === mediaTypeEnum.TV && selectedTVDetail() && selectedSeasonDetail() && selectedEpisodeDetail()) {
            @let season = selectedSeasonDetail()!;
            @let episode = selectedEpisodeDetail()!;

            <div class="media episode-title-header">
                <div class="media-details">
                    <div class="media-card">
                        <mat-card matTooltipTouchGestures="off">
                            <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(episode.still_path)">
                        </mat-card>
                    </div>

                    <div class="media-title">
                        <h2>{{season.name}}</h2>
                        <h2>#{{episode.episode_number}}: {{episode.name}}</h2>
                    </div>
                </div>

            </div>

            
        }

        <!-- if we got metadata from tmdb -->
        @if ((media_type() === mediaTypeEnum.Movie && selectedMovie()) || (media_type() === mediaTypeEnum.TV && selectedTVDetail() && selectedSeasonDetail() && selectedEpisodeDetail())) {
            @if (isLoading() || safeVidsrcUrl() === undefined) {
                <div class="media-container">
                    <img class="no-video blackout" src="/no_video.png">
                    <div class="overlay">
                        <mat-spinner ></mat-spinner>
                    </div>
                </div>
            }
            @else {
                @if (safeVidsrcUrl() === '') {
                    <div class="media-container">
                        <img class="no-video" src="/no_video.png">
                    </div>
                }
                @else {

                    @if (safeVidsrcUrl()) {
                        @if (media_type() === mediaTypeEnum.Movie) {
                            <iframe class="media-container" [src]="safeVidsrcUrl()" frameborder="0" scrolling="no" allowfullscreen="yes"></iframe>
                        }
                        @else {
                            <iframe class="media-container" [src]="safeVidsrcUrl()" frameborder="0" scrolling="no" allowfullscreen="yes"></iframe>
                        }
                    }
                    
                }
            }
        }

        
        @if (media_type() === mediaTypeEnum.TV && selectedTVDetail() && selectedSeasonDetail() && selectedEpisodeDetail()) {
            @let season = selectedSeasonDetail()!;
            @let episode = selectedEpisodeDetail()!;

            <div class="tv-filters">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Seasons</mat-label>
                    <mat-select (selectionChange)="triggerSearchTVSeason($event)" [compareWith]="compareObjects" [formField]="searchTVForm.season" hideSingleSelectionIndicator="true">
                        @for (season of (seasonsList()); track season.id) {
                            <mat-option [value]="season">
                                <div class="season-select-option">
                                    <img matCardImage class="option-image" [src]="moviesAndShowsService.getFullImageUrl(season.poster_path)">
                                    <div>#{{season.season_number}}: {{season.name}}</div>
                                </div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Episodes</mat-label>
                    <mat-select (selectionChange)="triggerSearchTVEpisode($event)" [compareWith]="compareObjects" [formField]="searchTVForm.episode" hideSingleSelectionIndicator="true">
                        @for (episode of (episodesList()); track episode.id) {
                            <mat-option [value]="episode">
                                <div class="episode-select-option">
                                    <img matCardImage class="option-image" [src]="moviesAndShowsService.getFullImageUrl(episode.still_path)">
                                    <div>#{{episode.episode_number}}: {{episode.name}}</div>
                                </div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div>{{episode.overview}}</div>
            <div><b>Runtime: </b>{{minutesToHoursAndMinutes(episode.runtime)}}</div>
            
            <br>
            <hr>

            <div class="media">

                <div class="media-title">
                    <h2>More Details</h2>
                </div>


                <div class="media-details">

                    <div class="media-card">
                        <mat-card matTooltipTouchGestures="off">
                            <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(season.poster_path)">
                        </mat-card>
                    </div>

                    <div class="media-metadata">
                        <div><b>Season # {{season.season_number}}: </b>{{season.name}}</div>
                        <div><b>Season Air Date: </b>{{season.air_date | date}}</div>
                        <div><b>Season Overview: </b>{{season.overview}}</div>
                        <div><b>Episodes: </b>{{season.episodes.length}}</div>
                    </div>
                </div>


                <br>


                <div class="media-details">

                    <div class="media-card">
                        <mat-card matTooltipTouchGestures="off">
                            <img matCardImage [src]="moviesAndShowsService.getFullImageUrl(episode.still_path)">
                        </mat-card>
                    </div>

                    <div class="media-metadata">
                        <div><b>Episode # {{episode.episode_number}}: </b>{{episode.name}}</div>
                        <div><b>Episode Air Date: </b>{{episode.air_date | date}}</div>
                        <div><b>Episode Overview: </b>{{episode.overview}}</div>
                        <div><b>Episode Runtime: </b>{{minutesToHoursAndMinutes(episode.runtime)}}</div>
                    </div>
                </div>
                
            </div>
        }
    }
</div>